.status-icon {
    width: 26px;
    height: 26px;
    display: block;
    flex: 0 0 auto;
    margin-right: 10px;
    &__part {
        width: 100%;
        height: 100%;
    }
}

.status__item {
    display: flex;
    align-items: center;
    padding: 0 25px;
    &.is--green {
        color: #8ec800;
        .status-icon__part {
            fill: #8ec800;
        }
    }

    &.is--golden {
        color: #cc9900;
        .status-icon__part {
            fill: #cc9900;
        }
    }

    &.is--blue {
        color: #336677;
        .status-icon__part {
            fill: #336677;
        }
    }

    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
}

.status__item-name {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.status__value {
    color: #336677;
    font-size: 18px;
    font-weight: 500;
    padding: 0 25px;
}

.status {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 180px;
}