.sandwich {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24px;
    height: 18px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.header--active {
    .sandwich {
        margin-right: 20px;
    }
}

.sandwich__part {
    width: 100%;
    height: 2px;
    background-color: $bv-main-color;
}