.aside--open .aside {
    margin-left: 0;
    .btn {
        visibility: visible;
    }
}

.aside--close .aside {
    .btn {
        visibility: hidden;
    }
}

.aside--close .aside:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.aside {
    margin-left: -277px;
    width: 320px;
    min-width: 320px;
    margin-top: -20px;
    margin-bottom: -94px;
    position: relative;
    border-right: 4px solid #8ec800;
    display: flex;
    flex-direction: column;
    z-index: 3;
    box-shadow: 10px 0 12px -7px gray;
    @media only screen and(max-width: 1400px) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,0.4);
        background-color: #6ea800;
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
        padding: 4px 12px;
        flex: 0 0 auto;
        z-index: 1;
    }

    &__body {
        flex: 1 0 auto;
        background: radial-gradient(343px at 50% 0%, #FCFCFC 0%, #D6D6D6 100%);
    }

    &__footer {
        flex: 0 0 auto;
        padding: 10px 12px;
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        background-color: #999;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
        color: #fff;
    }

    .sandwich {
        margin-right: 0;
        margin-left: 12px;
    }
}

.aside__header-items {
    display: flex;
    align-items: center;
    margin: 0 -12px;
    width: 100%;
}

.aside__header-item {
    padding: 0 12px;
    color: #444;
    text-shadow: 0 1px 0px rgba(255,255,255,0.6);
    &.is--end {
        margin-left: auto;
    }
}

.aside__footer {
    .btn {
        padding-right: 20px;
        justify-content: center;
        min-height: 52px;
    }

    .btn__text {
        padding: 0 2px;
    }
}