.btn {
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: #6886B8;
}