.breadcrumbs {
    color: $bv-blue-color;
    margin: 0 -15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    position: relative;
    width: 100%;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -45px;
        right: -45px;
        border-bottom: 1px solid $bv-grey2-color;
    }

    > span {
        display: inline-block;
        padding: 0 15px;
        position: relative;
        color: $bv-main-color;
        font-weight: 700;

        &:not(:last-of-type):after {
            content: '';
            width: 12px;
            height: 12px;
            background: url("../img/icons/breadcrumbs-divider.svg")no-repeat center;
            position: absolute;
            right: -7px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-of-type {
            font-size: 36px;
        }
    }

    a {
        font-size: 18px;
        font-weight: 400;
        color: $bv-blue-color;
    }
}