.footer {
    padding: 10px 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    background-color: #999;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
    color: #fff;
    position: absolute;
    right: 0;
    left: 50px;
    bottom: 0;

    .btn {
        position: relative;
        padding-right: 50px;
        display: flex;
    }

    .btn__text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 90%;
    }

}

.header--active .footer {
    left: 320px;
}

.root.header--active .aside--open .footer {
    left: 640px;
    @media only screen and(max-width: 1400px) {
        left: 318px;
    }
}

.root .aside--open .footer {
    left: 369px;
    @media only screen and(max-width: 1400px) {
        left: 318px;
    }
}

.root.header--active .aside--close .footer {
    left: 362px;
    @media only screen and(max-width: 1400px) {
        left: 42px;
    }
}

.root .aside--close .footer {
    left: 92px;
    @media only screen and(max-width: 1400px) {
        left: 42px;
    }
}

.footer-list {
    display: flex;
    margin: -5px 0;
    align-items: center;
}

.footer__item {
    padding: 5px 5px;
    flex: 1;
    min-width: 50px;
}