.header {
    padding-left: 48px;
}

.header__row {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 5px rgba(88, 88, 88, 0.25);
    background-color: #fff;
    position: relative;
    padding: 14px 20px;
}

.header__logo {
    max-width: 224px;
    width: 100%;
    overflow: visible;
}

.header__nav {
    max-width: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $bv-main-color;
    z-index: 4;
    min-height: 100%;
    margin-top: -56px;
    box-shadow: 4px 0px 5px rgba(88,88,88,0.25);
    .header__logo {
        display: none;
    }

    .list__link-item {
        display: none;
    }

    .list__link-item + .arrow--icon {
        display: none;
    }
}

.root.header--active {
    .header {
        padding-left: 320px;

        @media only screen and (max-width: 1199px) {
            padding-left: 250px;
        }
    }

    .header__nav {
        max-width: 320px;
        width: 100%;
        flex: 0 0 auto;

        @media only screen and (max-width: 1199px) {
            max-width: 250px;
        }
    }

    .header__logo {
        display: block;
        width: 100%;
    }

    .list__link-item {
        display: block;
    }

    .list__link-item + .arrow--icon {
        display: block;
    }

    .header__nav-middle {
        padding-left: 30px;
        padding-right: 30px;
        .header__logo {
            display: block;

            img {
                width: initial;
            }
        }
    }

}

.header__nav-top {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 0;
    flex: 0 0 auto;
    min-height: 56px;
    box-shadow: 0px 4px 5px rgba(88, 88, 88, 0.25);
    position: relative;
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 5px;
        bottom: 5px;
        width: 1px;
        background-color: $bv-grey2-color;
    }

    &:before {
        content: '';
        position: absolute;
        right: -10px;
        top: 0;
        bottom: 0;
        width: 10px;
        background-color: #fff;
    }
}

.header__nav-middle {
    background-color: #fff;
    padding: 30px 0 10px;
    border-bottom: 2px solid $bv-blue-color;
    min-height: 80px;
    .header__logo {
        display: block;
        padding: 0;

        img {
            width: 100%;
        }
    }
}

.header__nav-bottom {
    background-color: #fff;
    height: 100%;
}