.nav {
    overflow: hidden;
}
.nav .list {
    flex-direction: column;
    align-items: center;
}

.nav .list__link-item {
    line-height: 1.2;
}

.nav .list__item {
    padding: 0;
    width: 100%;
}

.nav .list__link {
    padding: 11px 13px;
    min-height: 51px;
}

.nav .is--submenu {
    padding-right: 44px;
    position: relative;
    .arrow--icon {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%) rotate(-90deg);
    }

    &.is--open {
        .arrow--icon {
            transform: translateY(-50%) rotate(0deg);
        }
    }
}


.list {
    display: flex;
    flex-wrap: wrap;
}

.list__item {
    padding: 10px;
}

.list__link {
    display: flex;
    align-items: center;
    &:hover {
        background-color: #F8F8F8;
    }

    &.is--active {
        position: relative;
        background-color: #F8F8F8;
        &:after {
            content: '';
            position: absolute;
            width: 4px;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: $bv-blue-color;
        }
    }
}

.root .is--open + .sub-menu {
    display: none;
}

.header--active  .list__link {
    padding: 11px 30px;
}

.header--active .is--open + .sub-menu {
    display: block;
}

.list__link-item {
    font-size: 24px;
    font-weight: 700;
    color: $bv-blue-color;
    margin-left: 26px;
}

.sub-menu {
    display: none;
}

.sub-menu__item {
    border-bottom: 1px solid $bv-grey2-color;
}

.sub-menu__link {
    color: $bv-blue-color;
    display: block;
    padding: 10px 50px;
}
