input::-moz-placeholder,
textarea::-moz-placeholder {
	font-family: "Calibri", $bv-helvetica;
	opacity: 1;
	color: #585858;
	font-size: 24px;
	font-weight: 400;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	font-family: "Calibri", $bv-helvetica;
	opacity: 1;
	color: #585858;
	font-size: 24px;
	font-weight: 400;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-family: "Calibri", $bv-helvetica;
	opacity: 1;
	color: #585858;
	font-size: 24px;
	font-weight: 400;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	font-family: "Calibri", $bv-helvetica;
	opacity: 1;
	color: #585858;
	font-size: 24px;
	font-weight: 400;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
	outline: none
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
	outline: none
}

input:focus:-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
	outline: none
}

input:focus:-ms-input-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
	outline: none
}

* {
	line-height: normal;
	box-sizing: border-box;

	:invalid {
		box-shadow: none
	}

	:-moz-submit-invalid {
		box-shadow: none
	}

	:-moz-ui-invalid {
		box-shadow: none
	}

	:focus {
		outline: none;
	}
}

.highlights {
	color: transparent
}

input,
textarea {
	font-family: "Calibri", $bv-helvetica;
	font-weight: 400;
	width: 100%;
	outline: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	appearance: none;
}

input::-ms-clear {
	display: none;
}

textarea {
	resize: none;
}

input[type="radio"],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: radio;
	margin: 0
}

input[type="submit"]::-moz-focus-inner {
	border: 0;
	outline: 0;
}

[contenteditable="true"]::-moz-focus-inner {
	border: 0;
	outline: 0;
}

input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield
}

a:active,
a:focus,
a:hover {
	border: none;
	outline: none;
}

a {
	color: $bv-main-color;
	cursor: pointer;
	text-decoration: none;
}

strong,
b {
	font-weight: 700;
}

ul,
ol {
	padding-left: 0;
}

button,
button:active,
button:focus,
button:hover,
input[type=submit] {
	outline: none;
	border: none;
	cursor: pointer
}

html,
body {
	height: 100%;
	width: 100%;
}

html {
	-webkit-text-size-adjust: none;
	touch-action: manipulation;
}

header,
footer {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: $bv-grey-color;
	position: relative;
}

select::-ms-expand {
	display: none;
}

button {
	padding: 0;
	background: none;
}

body {
	font-family: "Calibri", $bv-helvetica;
	font-size: 18px;
	font-weight: 400;
	min-width: 1024px;
	line-height: 1.42em;
	margin: 0;
	color: $bv-main-color;
	overflow: auto;
	background-color: #E5E5E5;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.root {
	display: flex;
	flex-direction: column;
	min-width: 1024px;
	height: 100%;
	overflow: auto;
}

img {
	display: block;
	max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Calibri", $bv-helvetica;
	font-weight: 700;
}


h1 {
	font-size: 64px;

	@media only screen and (max-width: 767px) {
		font-size: 36px;
	}
}

.title--h1 {
	@extend h1;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

.object-fit {
	width: 100%;
	height: 100%;

	&.is--cover {
		object-fit: cover;
	}

	&.is--contain {
		object-fit: contain;
	}
}

.full--content {
	font-size: 18px;
	color: $bv-main-color;
	display: flex;
	flex-direction: column;

	&>*:not(:last-child) {
		margin-bottom: 20px;
	}

	span {
		text-transform: uppercase;
	}

	ul {
		display: flex;
		flex-direction: column;
		margin-left: 15px;

		li {
			display: inline-block;
			position: relative;
		}

		li:before {
			content: '';
			top: -4px;
			width: 4px;
			height: 4px;
			background-color: #000;
			border-radius: 50%;
			position: relative;
			margin-right: 8px;
			display: inline-block;
		}
	}

	ol {
		margin-left: 15px;
		counter-reset: item;
		display: flex;
		flex-direction: column;

		li {
			display: inline-block;
			position: relative;
		}

		li:before {
			content: counter(item) '. ';
			counter-increment: item;
			margin-right: 6px;
			display: inline-block;
		}
	}
}

.full-content {
	@extend .full--content;
}