@font-face {
    font-family: "Calibri";
    font-display: auto;
    src: url("../fonts/Calibri.woff2"),
         url("../fonts/Calibri.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Calibri";
    font-display: auto;
    src: url("../fonts/Calibri-Bold.woff2"),
         url("../fonts/Calibri-Bold.woff");
    font-weight: 700;
    font-style: normal;
}