/**fonts**/
$bv-helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/**colors**/
$bv-main-color: #585858;
$bv-blue-color: #002F87;
$bv-red-color: #E8503E;
$bv-green-color: #76FF76;
$bv-yellow-color: #F7EB62;
$bv-grey-color: #E1E1E1;
$bv-grey2-color: #C4C4C4;
$bv-lightgrey-color: #C0CBD2;