.calendar {
  position: relative;
  display: flex;
  max-width: 440px;
  width: 100%;
  border: 1px solid $bv-grey2-color;
}

.calendar__item {
  width: 100%;
}

.calendar__icon {
  width: 68px;
  height: 38px;
  background-color: $bv-grey2-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  .icon-parts {
    fill: $bv-main-color;
  }
}

.calendar__field {
  background-color: #fff;
  font-size: 18px;
  font-weight: 400;
  border: 0;
  padding: 8px;
}

.calendar__field::-moz-placeholder {
	font-family: "Calibri", $bv-helvetica;
	opacity: 1;
	color: #ABABAB;
	font-size: 18px;
	font-weight: 400;
}

.calendar__field:-moz-placeholder {
	font-family: "Calibri", $bv-helvetica;
	opacity: 1;
	color: #ABABAB;
	font-size: 18px;
	font-weight: 400;
}

.calendar__field::-webkit-input-placeholder {
	font-family: "Calibri", $bv-helvetica;
	opacity: 1;
	color: #ABABAB;
	font-size: 18px;
	font-weight: 400;
}

.calendar__field:-ms-input-placeholder {
	font-family: "Calibri", $bv-helvetica;
	opacity: 1;
	color: #ABABAB;
	font-size: 18px;
	font-weight: 400;
}