.checkbox input {
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  &:checked + .check:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: url("../img/icons/checked.svg")no-repeat center/contain;
      width: 23px;
      height: 16px;
  }

  &:checked + .check:after {
      border: 0;
  }
}

.check {
  position: relative;
  font-size: 14px;
  width: 18px;
  height: 18px;
  color: #999;
  cursor: pointer;
  display: block;
  &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #999;
      border-radius: 2px;
  }
}