.form-table {
    width: 100%;
    @media only screen and(max-width: 1400px) {
        padding-left: 42px;
    }
}

.form-table__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-table__contains {
    padding: 10px 25px;
}

.table__row {
    display: block;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 10px 20px 10px;
    border-radius: 12px;
    &:not(:last-of-type) {
        margin-bottom: 15px;
    }

    .form {
        border: 1px solid #ccc;
        padding: 6px 8px;
        max-width: 100%;
        box-shadow: inset 0px 0px 6px rgba(0,0,0,0.15);
        border-radius: 6px;
        margin: 6px 0;
    }

    .input {
        order: -1;
        height: 33px;
    }

    .search-btn {
        margin-left: 15px;
        margin-right: 10px;
    }
}

.table__row--secondary {
    display: flex;
    align-items: center;
    .table__row-items {
        flex: 1;
    }
}

.table__row-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -20px;
    position: relative;
    &:not(:last-of-type):after {
        content: '';
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-bottom: 1px solid #ccc;
    }
}

.form-date {
    display: flex;
    align-items: center;
    padding: 4px 25px;
}

.form-date__divider {
    padding: 0 4px;
    display: inline-block;
}

.form-date__label {
    display: block;
    width: 105px;
    flex: 0 0 auto;
}

.form-table__item {
    color: #777;
    &.divider {
        font-size: 26px;
        padding: 0 15px;
    }
}

.form-table__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 25px;
}

.form-table__link {
    font-size: 26px;
    font-weight: 400;
    color: #777;
    &.is--active {
        color: #333;
        font-weight: 500;
    }
}


.input--secondary {
    border: 1px solid #777;
    padding: 6px 8px;
    border-radius: 6px;
}

.table-inf {
    padding: 8px 20px;
    &--secondary {
        flex: 1;
    }
}

.table-inf__item {
    color: #777;
    strong,
    b {
        color: #000;
        font-weight: 500;
    }

    span {
        color: #777;
        font-weight: 500;
    }
}

.table-inf__value {
    font-size: 56px;
    color: #000;
    line-height: 1;
    h2 {
        font-size: 36px;
        color: #333;
    }
}

.tbl__btn {
    width: 14px;
    height: 14px;
    display: block;
    &-icon {
        width: 100%;
        height: 100%;
    }

    .btn__icon-plus {
        fill: rgb(153, 153, 153);
    }

    &:hover {
        .btn__icon-plus {
            fill: #6ea800;
        }
    }
}

.tbl__link {
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 500;
    &.is--active {
        color: rgb(17, 17, 17);
    }

    &:hover {
        color: #6ea800;
    }
}

.tbl__item,
.tbl__divider {
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 500;
}

.tbl {
    padding: 10px 0;
}

.tbl__head {
    display: flex;
    align-items: center;
    margin: -4px -15px;
    padding-bottom: 8px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
        border-bottom: 3px solid #ddd;
    }
}

.tbl__row {
    line-height: 1;
    padding: 4px 15px;
    &.is--end {
        margin-left: auto;
    }
}

.tbl__body {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    &:hover {
        background-color: #f3f3f3;
    }
    .tbl__item,
    .tbl__divider {
        color: #999;
        text-transform: none;
        letter-spacing: 0;
        font-size: 14px;
        font-weight: 400;
    }

    .tbl__divider {
        padding: 0 10px;
    }

    .tbl__link {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0;
        text-transform: none;
    }

    .tbl__row {
        text-align: center;
    }
}