.profile-wrap {
    position: relative;
    min-width: 236px;
    padding-left: 30px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: -9px;
        bottom: -9px;
        width: 1px;
        background-color: $bv-grey2-color;
    }
    &.is--active .profile__popup {
        display: block;
    }
}

.profile {
    font-family: "Segoe", $bv-helvetica;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 24px;
    flex: 0 0 auto;

    .profile--icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        fill: $bv-main-color;
    }
}

.profile__menu {
    flex: 0 0 auto;
}

.profile__name {
    color: $bv-main-color;
    position: relative;
    margin-left: 20px;
    padding-right: 24px;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        width: 13px;
        height: 7px;
    }
}

.profile__popup {
    width: 250px;
    background-color: #fff;
    box-shadow: 1.7px 4.7px 15px 1px rgba(20, 27, 65, 0.48);
    position: absolute;
    top: 100%;
    right: -1px;
    margin-top: 15px;
    display: none;
    z-index: 1;
}

.profile__popup .list {
    background: none;
    box-shadow: none;
}

.profile__popup-top {
    padding: 15px 10px;
    border-bottom: 1px solid #94a2b6;
    display: flex;
    align-items: center;
    .profile__name {
        padding-right: 0;
    }
}

.profile__popup-top .profile__img {
    width: 80px;
    height: 80px;
}

.profile__popup-top .profile__name {
    display: block;
}


.profile__popup-bottom .list__link {
    padding: 11px 25px;
    text-align: left;
    &:hover {
        font-weight: 400;
        background: none;
    }
}

.profile__popup-bottom .is--signout {
    font-weight: 700;
    background: none;
    &:hover {
        font-weight: 700;
    }
}

.profile__popup-bottom .list {
    padding: 15px 0;
    flex-direction: column;
}